<div class="main-text">
  <p>Lubię wyjeżdżać w nieznane miejsca, gdzie można zobaczyć ciekawe budowle i rośliny oraz piękne krajobrazy.
  Udany urlop to dla mnie czas spędzony aktywnie, nie tylko na plaży czy przy basenie, chociaż plażę i basen też lubię.</p>
  <p>Na kilka miesięcy przed wyjazdem czytam o rejonie, do którego się udaję. Zastanawiam się co chciałabym zobaczyć, gdzie pojechać 
  i jakim środkiem lokomocji będzie wygodniej. Najczęściej planuję jednodniowe wycieczki, w większości samochodowe. Jeśli lecę gdzieś samolotem, 
  to na miescu wypożyczam samochód i jeszcze nigdy nie miałam z tym problemu. Oczywiście dobrze wcześniej sprawdzić jakie są ceny takiej usługi, 
  rodzaje ubezpieczeń i dostępność samochodów, a najlepiej jeszcze przed wyjazdem zarezerowwać odpowiedni dla nas samochód.</p>
  <p>Na tej stronie będę prezentować wycieczki, które zaplanowałam i odbyłam razem z moją rodziną. Rozpoczynam od <b>Madery</b>, wyspy znajdującej się 
  na Oceanie Atlantyckim w odległości 500 km na zachód od marokańskiego wybrzeża, która wywarła na nas ogromne wrażenie. Wszystkie zdjęcia z Madery zrobiłam sama w 2017 roku. 
  Informacje też dotyczą tego okresu, więc dzisiaj mogą już być częściowo nieaktualne.</p>
  <p>Jeśli chodzi o wypożyczalnię samochodów to na Maderze polecam
  <a href="https://funchalcarhire.net" target="_blank">Funchal Car Hire</a>. Wypożyczalnia zapewnia pełne ubezpieczenie oraz nie wymaga kaucji, 
  tylko zaliczkę w wysokości 15%. Można dokupić dodatkowe ubezpieczenie dla opon, felg i lusterek. Poza tym firma za darmo dostarcza auto do hotelu na terenie Funchal. 
  Zwrot dokumentów i kluczyków odbywa się też w hotelu.</p>
</div>