<div class="main-text">
  <p>Madera powstała w wyniku erupcji podwodnego wulkanu. Sama wyspa jest tylko niewielką częścią jednego z najwyższych podwodnych wulkanów na świecie.
  Wulkaniczne gleby i łagodny klimat stwarzają idealne warunki dla wegetacji bujnej roślinności.
  Madera nazywana jest "wyspą wiecznej wiosny". Lata nie są zbyt upalne, a zimy są łagodne. Wyspa to prawdziwy raj dla miłośników pieszych wędrówek i dzikiej przyrody.
  Piękne góry, wysokie klify, lasy wawrzynowe, dużo kwiatów i owoców. Wszystko to powoduje, że Madera to miejsce niezwykłe i powalające swą urodą.</p>
  <p><button mat-raised-button color="accent" (click)="openMap()">
    <mat-icon>public</mat-icon>   Zobacz na mapie
  </button></p>
</div>
<mat-grid-list class="mat-grid-list3" cols="3" rowHeight="2:1.1">
  <mat-grid-tile class="mat-grid-tile3">
    <p><a class="alink" routerLink="/trip1a" routerLinkActive="activeMenuLink" title='Południowa Madera'>
      <img class="picture" src="assets/img/trip1/img_2161.jpg" alt="Trip1">
      <div>Funchal - Monte</div>
    </a></p>      
  </mat-grid-tile>
  <mat-grid-tile class="mat-grid-tile3">
    <p><a class="alink" routerLink="/trip1b" routerLinkActive="activeMenuLink" title='Centralna i zachodnia Madera'>
      <img class="picture" src="assets/img/trip1/img_2254.jpg" alt="Trip2">
      <div>Dolina Zakonnic - Ponta do Pargo</div>
    </a></p>      
  </mat-grid-tile>
  <mat-grid-tile class="mat-grid-tile3">
    <p><a class="alink" routerLink="/trip1c" routerLinkActive="activeMenuLink" title='Północna Madera'>
      <img class="picture" src="assets/img/trip1/img_2321.jpg" alt="Trip3">
      <div>Porto Moniz - Santana</div>
    </a></p>      
  </mat-grid-tile>
  <mat-grid-tile class="mat-grid-tile3">
    <p><a class="alink" routerLink="/trip1d" routerLinkActive="activeMenuLink" title='Centralna Madera'>
      <img class="picture" src="assets/img/trip1/img_2389.jpg" alt="Trip4">
      <div>Pico do Arieiro - Pico Ruivo</div>
    </a></p>      
  </mat-grid-tile>
  <mat-grid-tile class="mat-grid-tile3">
    <p><a class="alink" routerLink="/trip1e" routerLinkActive="activeMenuLink" title='Wschodnia Madera'>
      <img class="picture" src="assets/img/trip1/img_2626.jpg" alt="Trip5">
      <div>Przylądek św. Wawrzyńca</div>
    </a></p>      
  </mat-grid-tile>
</mat-grid-list>
