<mat-grid-list class="mat-grid-list3" cols="3" rowHeight="2:1.1">
  <mat-grid-tile class="mat-grid-tile3">
    <p><a class="alink" routerLink="/trip1a" routerLinkActive="activeMenuLink">
      <img class="picture" src="assets/img/trip1/img_2161.jpg" alt="Trip1">
      <div>Funchal - Monte</div>
    </a></p>      
  </mat-grid-tile>
  <mat-grid-tile class="mat-grid-tile3">
    <p><a class="alink" routerLink="/trip1b" routerLinkActive="activeMenuLink">
      <img class="picture" src="assets/img/trip1/img_2254.jpg" alt="Trip2">
      <div>Dolina Zakonnic - Ponta do Pargo</div>
    </a></p>      
  </mat-grid-tile>
  <mat-grid-tile class="mat-grid-tile3">
    <p><a class="alink" routerLink="/trip1c" routerLinkActive="activeMenuLink">
      <img class="picture" src="assets/img/trip1/img_2321.jpg" alt="Trip3">
      <div>Porto Moniz - Santana</div>
    </a></p>      
  </mat-grid-tile>
  <mat-grid-tile class="mat-grid-tile3">
    <p><a class="alink" routerLink="/trip1d" routerLinkActive="activeMenuLink">
      <img class="picture" src="assets/img/trip1/img_2389.jpg" alt="Trip4">
      <div>Pico do Arieiro - Pico Ruivo</div>
    </a></p>      
  </mat-grid-tile>
  <mat-grid-tile class="mat-grid-tile3">
    <p><a class="alink" routerLink="/trip1e" routerLinkActive="activeMenuLink">
      <img class="picture" src="assets/img/trip1/img_2626.jpg" alt="Trip4">
      <div>Przylądek św. Wawrzyńca</div>
    </a></p>      
  </mat-grid-tile>
</mat-grid-list>