<div class="main-text">
  <p><b>1. Plaża Prainha </b></p>
  <p>Wycieczkę rozpoczęliśmy od podrózy do miejscowości Canical, położonej na wschodnim wybrzeżu Madery. Na wschód od Canical znajduje się plaża Prainha. 
  Jest to jedyna naturalna piaszczysta plaża Madery, z ciemnym piaskiem. Aby tam dotrzeć, trzeba zejść po schodkach prowadzacych z parkingu w dół do 
  małej osłoniętej zatoki. Warto, bo plaża jest po prostu piękna. Trzeba uważać, bo piasek szybko się nagrzewa i jest w południe gorący. 
  Klapki lub buty do wody niezbędne.
  <mat-grid-list cols="2" rowHeight="2:1.5">
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1e/img_2561.jpg" alt="Trip5">
      <div>Canical</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1e/img_2566.jpg" alt="Trip5">
      <div>Plaża Prainha</div></a>
    </mat-grid-tile>
  </mat-grid-list>
  <p><b>2. Przylądek św. Wawrzyńca</b></p>
  <p>Po plażowaniu udaliśmy się z Canical w kierunku wschodnim na parking. Stąd szlak wędrowny prowadzi do najbardziej na wschód wysuniętego krańca wyspy, 
  cudownego krajobrazu z urwistymi nadbrzeżnymi klifami, pociętymi głębokimi szczelinami. Trasa w obie strony zajmuje około 3 godziny, nie jest zbyt wymagająca.
  Z przystankami na zdjęcia może zająć trochę więcej czasu. Widoki są tak piękne, że można tam spędzić w zasadzie cały dzień. Należy pamiętać, że może być gorąco. 
  Na całej trasie nie ma miejsca gdzie można się schować przed słońcem. Trzeba zabrać wodę, nakrycie głowy i krem z filtrem.</p>
  <mat-grid-list cols="2" rowHeight="2:1.5">
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1e/img_2582.jpg" alt="Trip5">
      <div>Punkt widokowy niedaleko parkingu</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1e/img_2606.jpg" alt="Trip5">
      <div>Przylądek św. Wawrzyńca</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1e/img_2607.jpg" alt="Trip5">
      <div>Przylądek św. Wawrzyńca</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1e/img_2636.jpg" alt="Trip5">
      <div>Przylądek św. Wawrzyńca</div></a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<a mat-raised-button class="button-mar" color="accent" routerLink="/trip1" routerLinkActive="activeMenuLink"><mat-icon>west</mat-icon>  Powrót</a>
<a mat-raised-button class="button-mar2" color="accent" href="javascript:scroll(0,0);"><mat-icon>north</mat-icon></a>
