<p>
  <mat-toolbar color="accent">
    <span>Moje podróże</span>
    <img class="picture3" style="margin-left: auto;" src="assets/img/img_5182.jpg" alt="Logo1">
    <img class="picture3" style="margin-top: 2%;" src="assets/img/img_6145.jpg" alt="Logo2">
    <img class="picture3" style="margin-bottom: 2%;" src="assets/img/img_6719.jpg" alt="Logo3">
    <img class="picture3" src="assets/img/img_7465.jpg" alt="Logo4">
    <img class="picture3" style="margin-top: 2%;" src="assets/img/img_9661.jpg" alt="Logo5">
  </mat-toolbar>
  <app-menu></app-menu>
</p>
