<div class="main-text">
  <p><b>1. Dolina Zakonnic (Curral das Freiras)</b></p>
  <p>Wycieczkę rozpoczęliśmy od przejazdu wypożyczonym samochodem do restauracji Eira do Serrado, niedaleko której znajduje się taras widokowy, z którego
  można podziwiać widok na dolinę.
  My postanowiliśmy również pieszo zejść do doliny i wrócić z powrotem na górę autobusem. Szlak zaczyna się zaraz po lewej stronie od tabliczki informacyjnej 
  "Eira do Serrado", koło sklepu z pamiątkami. Ścieżka wyłożona jest kamieniami i 52 ostrymi zakrętami schodzi na dół, najpierw do asfaltowwej drogi, a potem 
  do miejscowości o tej samej nazwie co dolina czyli Curral das Freiras. Przy dobrej pogodzie widoki na dolinę i wioskę są niezapomniane. 
  Nam trafiło się trochę mgły, ale i tak było pięknie.</p>
  <mat-grid-list cols="2" rowHeight="2:1.5">
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1b/img_2201.jpg" alt="Trip2">
      <div>Dolina Zakonnic</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1b/img_2206.jpg" alt="Trip2">
      <div>Ścieżka do Doliny Zakonnic</div></a>
    </mat-grid-tile>
  </mat-grid-list>
  <p><b>2. Przylądek Cabo Girão</b></p>
  <p>Kolejnym punktem wycieczki był drugi co do wysokości na świecie stromy klif, ściana skalna o wysokości 580 metrów opadajaca pionowa w dół.
  Widok w dół ze szklanego tarasu jest wspaniały, ale raczej dla osób bez lęku wysokości.</p>
  <mat-grid-list cols="2" rowHeight="2:1.5">
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1b/img_2229.jpg" alt="Trip2">
      <div>Przylądek Cabo Girão</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1b/img_2241.jpg" alt="Trip2">
      <div>Szklany taras widokowy</div></a>
    </mat-grid-tile>
  </mat-grid-list>
  <p><b>3. Ponta do Pargo</b></p>
  <p>Ponta do Pargo to najbardziej na zachód wysunięta miejscowość Madery. Na wysuniętym w morze cyplu znajduje się najwyżej położona w Portugalii 
  latarnia morska. Na miejsce można dotrzeć jedynie samochodem. Warto zabrać kurtkę chroniącą od wiatru, który momentami potrafi być naprawdę porywisty.
  Mało ludzi, a widoki wprost cudowne.</p>
  <mat-grid-list cols="2" rowHeight="2:1.5">
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1b/img_2254.jpg" alt="Trip2">
      <div>Widok z cypla w Ponta do Pargo</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1b/img_2266.jpg" alt="Trip2">
      <div>Latarnia</div></a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<a mat-raised-button class="button-mar" color="accent" routerLink="/trip1" routerLinkActive="activeMenuLink"><mat-icon>west</mat-icon>  Powrót</a>
<a mat-raised-button class="button-mar2" color="accent" href="javascript:scroll(0,0);"><mat-icon>north</mat-icon></a>
