<div class="main-text">
  <p>Podczas pobytu na Maderze mieszkaliśmy w dzielnicy hotelowej stolicy Funchal. Pierwsza wycieczka była więc w tym rejonie. Samochód mieliśmy 
  mieć wypożyczony od następnego dnia, ale do centrum Funchal można podjechać autobusem nr 01, który jedzie wzdłuż Estrada Monumental w dzielnicy hotelowej, 
  a następnie Avenida do Infante do centrum miasta. My wysiedliśmy na przystanku przy Parku świętej Katarzyny. 
  Niektóre hotele zapewniają dowóz autobusem lub busem do centrum Funchal, można też zamówić taksówkę, ale my woleliśmy nie ograniczać się do konkretnych 
  godzin odjazdów i powrotów do hotelu.</p>
  <p><b>1. Funchal</b></p>
  <p>Park św. Katarzyny to ładnie zagospodarowany park miejski, z ciekawymi roślinami, kwiatowymi rabatami, stawem z kaczkami i łabędziami oraz tarasem widokowym,
  z którego roztacza się daleki widok na port.</p>
  <p>W Funchal zobaczyliśmy Pałac San Lourenco (pierwsza miejska forteca), kosciół św. Piotra, Muzeum Frederico De Freitasa, Fortecę na Szczycie, kościół Kolegium,
  ratusz i katedrę. Następnie odwiedziliśmy targ spożywczy (Mercado dos Lavradores) i Twierdzę św. Jakuba, skąd roztacza się wspaniała panorama na zatokę Funchal.
  Warto przejść się Rua de Santa Maria, gdzie wiele drzwi jest ozdobionych niepowtarzalnymi obrazami.</p>
  <mat-grid-list cols="2" rowHeight="2:1.5">
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1a/img_2051.jpg" alt="Trip1">
      <div>Park św. Katarzyny</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1a/img_2088.jpg" alt="Trip1">
      <div>Plac ratuszowy</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2h" src="assets/img/trip1a/img_2101.jpg" alt="Trip1">
      <div>Drzwi na Rua de Santa Maria</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1a/img_2109.jpg" alt="Trip1">
      <div>Twierdza św. Jakuba</div></a>
    </mat-grid-tile>
  </mat-grid-list>
  <p><b>2. Monte</b></p>
  <p>Do miejscowości Monte, w której znajduje się Monte Palace Tropical Garden czyli Pałac z Tropikalnym Ogrodem, najprościej dostać się kolejką linową z Funchal.
  Stacja kolejki gondolowej znajduje się w centrum, niedaleko Twierdzy św Jakuba. Podczas jazdy można podziwiać wspaniałe widoki na zatokę i Funchal.</p>
  <p>Monte Palac Tropical Garden to fantazyjnie urządzony ogród z egzotycznymi drzewami i kwiatami, jeziorkami, fontannami, grotami oraz tunelami. Znajduje się tam również
  piękny japoński ogród z licznymi mostkami oraz afrykańskie rzeźby. Można spędzić tam kilka godzin. Kieliszek wina w cenie biletu.</p>  
  <p>W Monte byliśmy jeszcze w kościele Matki Bożej na Górze i wróciliśmy do Funchal kolejką, a następnie autobusem do hotelu.</p>
  <mat-grid-list cols="2" rowHeight="2:1.5">
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1a/img_2120.jpg" alt="Trip1">
      <div>Widok z kolejki linowej</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1a/img_2134.jpg" alt="Trip1">
      <div>Tropikalny Ogród</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1a/img_2137.jpg" alt="Trip1">
      <div>Tropikalny Ogród</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1a/img_2154.jpg" alt="Trip1">
      <div>Ogród japoński</div></a>
    </mat-grid-tile>
  </mat-grid-list>  
</div>
<a mat-raised-button class="button-mar" color="accent" routerLink="/trip1" routerLinkActive="activeMenuLink"><mat-icon>west</mat-icon>  Powrót</a>
<a mat-raised-button class="button-mar2" color="accent" href="javascript:scroll(0,0);"><mat-icon>north</mat-icon></a>
