<div class="main-text">
  <p><b>1. Pico do Arieiro </b></p>
  <p>Trzecie co do wielkości wzniesienie Madery osiąga 1818 metrów n.p.m.. Droga samochodowa prowadzi prawie na sam szczyt, ale trzeba się przygotować 
  na długą i krętą drogę. Początkowo jedzie się w chmurach, ale bliżej szczytu, przy dobrej pogodzie, już ponad warstwą chmur. Widok ze szczytu zapiera dech w piersiach.
  Ceglastą powierzchnię porastają słabe trawy, a skały mają niewiarygodnie kontrastujące ze sobą kolory.</p>
  <mat-grid-list cols="2" rowHeight="2:1.5">
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1d/img_2388.jpg" alt="Trip4">
      <div>Widok z Pico do Arieiro</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1d/img_2404.jpg" alt="Trip4">
      <div>Szczyt Pico do Arieiro</div></a>
    </mat-grid-tile>
  </mat-grid-list>
  <p><b>2. Zimny potok </b></p>
  <p>Hodowla pstrągów w Zimnym potoku była naszym następnym celem. Idąc w kierunku północnym, w górę od hodowli pstrągów, można skręcić w prawo 
  i dotrzeć do małego wodospadu. Następnie poszliśmy szlakiem do słynnego punktu widokowego Balkony. Trasa zaczyna się naprzeciwko hodowli pstrągów, 
  za lokalem Ribeiro Frio i zajmuje około 30 minut.</p>
  <mat-grid-list cols="2" rowHeight="2:1.5">
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1d/img_2412.jpg" alt="Trip4">
      <div>Hodowla pstrągów</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1d/img_2429.jpg" alt="Trip4">
      <div>Punkt widokowy Balcony</div></a>
    </mat-grid-tile>
  </mat-grid-list>

  <p><b>3. Pico Ruivo</b></p>
  <p>Dalszym celem wycieczki było wejście na najwyższy szczyt Madery czyli Pico Ruivo o wysokości 1862 metry n.p.m.. 
  Najłatwiejszy szlak na Pico Ruivo rozpoczyna się przy Achada do Teixeira. 
  Aby dotrzeć na ten parking trzeba najpierw dojechać do Santany, a następnie kierować się oznakowaną drogą na szczyt Pico Ruivo. Z dużego parkingu na 
  wysokości 1590 m n.p.m. utwardzony szlak wiedzie na szczyt góry. Podczas naszej wspinaczki pogoda była słoneczna i widoczność wyśmienita. 
  Szliśmy ponad chmurami i było to niesamowite wrażenie. Czuliśmy się "jak w niebie". Spotkaliśmy niewielu ludzi. 
  Ze szczytu rozciąga się wspaniała panorama na całą wyspę, a spektakularne widoki na długo pozostają w pamięci.
  Dla mnie numer jeden na Maderze.  Warto sprawdzić wcześniej prognozę pogody i wybrać słoneczny dzień na tę atrakcję.</p>
  <mat-grid-list cols="2" rowHeight="2:1.5">
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1d/img_2454.jpg" alt="Trip4">
      <div>Parking Achada do Teixeira</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1d/img_2494.jpg" alt="Trip4">
      <div>Szlak na Pico Ruivo</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1d/img_2498.jpg" alt="Trip4">
      <div>Szlak na Pico Ruivo</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1d/img_2513.jpg" alt="Trip4">
      <div>Widok z Pico Ruivo</div></a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<a mat-raised-button class="button-mar" color="accent" routerLink="/trip1" routerLinkActive="activeMenuLink"><mat-icon>west</mat-icon>  Powrót</a>
<a mat-raised-button class="button-mar2" color="accent" href="javascript:scroll(0,0);"><mat-icon>north</mat-icon></a>
