<div class="main-text">
  <p><b>1. Porto Moniz </b></p>
  <p>Żeby dostać się do tej miejscowości na północno-zachodnim wybrzeżu wyspy wybraliśmy przejazd Północną Drogą Nadbrzeżną VE2, z miejscowości São Vicente, 
  do której dostaliśmy się drogą szybkiego ruchu w kierunku zachodnim do Ribeira Brava i potem dalej na północ.
  Wzdłuż tej drogi rozciągają się przepiękne krajobrazy. Można tu zobaczyć strome klify, huczące wodospady, skalne wyspy i otulone chmurami góry. 
  Warto zatrzymać się na kilku punktach widokowych i w miejscowości Seixal, gdzie można zejść do małej kamienistej plaży.</p>
  <p>Gdy dojechaliśmy do Porto Moniz pogoda poprawiła się i mogliśmy skorzystać z Piscinas Naturais, czyli z kąpieliska z naturalnymi basenami wodnymi, 
  połączonymi betonowymi kanałami. Woda była jednak dosyć zimna.</p>
  <mat-grid-list cols="2" rowHeight="2:1.5">
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1c/img_2287.jpg" alt="Trip3">
      <div>Północna Droga Nadbrzeżna</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1c/img_2289.jpg" alt="Trip3">
      <div>Plaża w Seixal</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1c/img_2322.jpg" alt="Trip3">
      <div>Piscina Naturais w Porto Moniz</div></a>
    </mat-grid-tile>
     <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1c/img_2339.jpg" alt="Trip3">
      <div>Punkt widokowy Santinha</div></a>
    </mat-grid-tile>
  </mat-grid-list>
  <p><b>1. Santana </b></p>
  <p>Dalszym celem podróży była miejscowość Santana, znajdująca się na północno-wschodnim wybrzeżu. Po drodze chcieliśmy zobaczyć jeszcze płaskowyż Paul da Serra
  i przełęcz Encumeada, która znajduje się na wysokości 1004 m n.p.m.. Następnie jadąc Północną Drogą Nadbrzeżną w kierunku wschodnim zatrzymaliśmy się w São Jorge, 
  gdzie znajduje się latarnia morska.</p>
  <p>Po dotarciu do Santany mogliśmy zobaczyć małe, kryte strzechami domy (casac do colmo), które przypominają domki z bajek o Asteriksie i Obeliksie. Dawniej 
  na północnym wybrzeżu mieszkały w nich całe rodziny. Podziwialiśmy też okazałą dracenę smoczą.</p>
  <mat-grid-list cols="2" rowHeight="2:1.5">
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1c/img_2342.jpg" alt="Trip3">
      <div>Płaskowyż Paul da Serra</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1c/img_2350.jpg" alt="Trip3">
      <div>Przełęcz Encumeada</div></a>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1c/img_2365.jpg" alt="Trip3">
      <div>Domy w Santanie</div></a>
    </mat-grid-tile>
     <mat-grid-tile class="mat-grid-tile2">
      <a><img class="picture2" src="assets/img/trip1c/img_2371.jpg" alt="Trip3">
      <div>Dracena smocza</div></a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<a mat-raised-button class="button-mar" color="accent" routerLink="/trip1" routerLinkActive="activeMenuLink"><mat-icon>west</mat-icon>  Powrót</a>
<a mat-raised-button class="button-mar2" color="accent" href="javascript:scroll(0,0);"><mat-icon>north</mat-icon></a>
