/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;     
}

.mat-toolbar {
  height: max-content;
  min-height: 150px;
  font-size: 90px;
  font-family: 'Lucida Sans';
  font-style: italic;
  font-weight: bold;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1050px) {
  .mat-toolbar {
      font-size: 80px;
  }
}

@media only screen and (max-width: 650px) {
  .mat-toolbar {
      font-size: 60px;
  }
}

.mat-nav-list {
  text-align: center;
  background-color: lightseagreen;
  padding-top: 0px;
  padding-bottom: 10px;
  font-size: 20px;
}

.nav-link {
  margin-left: 30px;
  margin-right: 30px;
}

.nav-link:hover {
  color: white;
}

.activeMenuLink {
  color: white !important;
}

.mat-grid-list3 {
  margin-left: 5%;
  margin-right: 5%;
}

.mat-grid-tile3 {
  text-align: center;
  font-size: 17px;
}

.alink {
  color: black;
  text-decoration: none;
}

.main-text {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 17px;
  line-height: 25px;
  text-indent: 20px;
}

.picture {
  width: 60%;
}

.picture2 {
  width: 90%;
}

.picture2h {
  width: 50%;
}

.mat-grid-tile2 {
  text-align: center;
  font-size: 15px;
}

.button-mar {
  margin-left: 11% !important;
  margin-top: 1% !important;
  margin-bottom: 2% !important;
}

.button-mar2 {
  margin-left: 20px !important;
}

.button-cen {
  margin-left: 40% !important;
}

.picture3 {
  width: 130px;
}